.title{
    color: rgb(119, 119, 116);
    font-size: 50px;
    background-color: rgb(233, 243, 243);
    text-align: center;
}
.link ul {
    width: 1500px;
    height: 50px;
    background-color: rgb(185, 245, 216);
    border-radius: 10px;
    border: solid 1px rgba(102, 98, 98, 0.705);
    position: absolute;
    left:200px;
  }
  .link ul li {
    margin: 0 200px;
    list-style: none;
    width: 100px;
    height: 50px;
    float: left;
  }
  .link ul li a {
    line-height: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20pt;
  }
  .link ul li a:hover {
    color: rgb(114, 114, 114);
  }
  .link ul li a:active {
    columns: rgb(165, 137, 101);
  }
  body{
      background-color: rgb(177,211,218);
  }
  footer{
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgb(177, 211, 218) ,rgb(155, 159, 228), rgb(62,72,214));
  }
 section{
     margin-top: 80px;
     position: relative;
     left: 100px;
  }
ul {
    list-style-type: none;
}
li > span{ 
    font-size:20pt;
    width:700px;
    position: absolute;
 }
li > iframe{
    position: absolute;
    left: 1150px;
}